html, body {
    text-align: left;
    font-family: 'Muli', serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    color: #f0f0f0;
    font-size: 100%;
    font-weight: normal;
}
#container {
    width: 100%;
    height: 100%;
    position: relative;
}
#mapid {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#filters, #infobox, #headline {
    width: 24%;
    height: 45%;
    position: absolute;
    left: 0;
    background: black;
    opacity: 0.8;
    z-index: 2;
    padding-left: 2%;
}
#headline {
    opacity: 1;
    height: 10%;
    position: absolute;
}
#headline p {
    padding-top:0;
    font-size: 2.2vmin;
    margin-top: 3%;
    margin-bottom:3%;
    line-height: 100%;
}

#infobox {
    top: 55%;
}
#filters {
    top: 10%;
}
#slider {
    width: 74%;
    height: 9%;
    position: absolute;
    top: 91%;
    left: 26%;
    background: none; 
    opacity: 0.7;
    z-index: 1;
    color: black;
}
#slider-range .ui-slider-range { 
	background: black;
}
#min, #max {
    width: 150px;
    text-align: center;
}

/* LEGEND */
#legend {
    z-index: 1;
    top: 2%;
    left: 26.5%;
    width: 100%;
    position: absolute;
}
.toggle {
    display: none;
    visibility: hidden;
}
#toggle1:checked ~ #expand {
    height: 2200%;
    padding:1%;
}
.toggle:checked ~ #legend_lab::before {
  content: "-";
}
#legend_lab {
    padding: 0.5%;
    border: 1px solid #CCC;
    color: #000;
    background: white;
    border-radius: 5px;
    z-index: 2;
}
#legend_lab:hover {
    background: #f3f3f3;
}
#legend_lab::before {
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
}
#expand {
    position: absolute;
    height: 0%;
    top: 100%;
    overflow: hidden;
    opacity: 0.95;
    transition: height 0.5s;
    background: black;
    color: #FFF;
    border-radius: 10px;
    z-index: -1;
    width: 20%;
    font-size: 2vmin;
}
div.bullets {
    width:5%; 
    height: 3%; 
    display: inline-block;
    border-radius: 5px;
    vertical-align: middle;

}
/* ABOUT BUTTON */
#about {
    z-index: 1;
    top: 2%;
    left: 34.5%;
    width: 100%;
    position: absolute;   
}
#expand_about {
    position: absolute;
    left:0;
    height: 0;
    width: 0;
    top: 100%;
    display: inline-block;
    overflow: hidden;
    opacity: 0.95;
    transition: height 0.5s;
    background: black;
    color: #FFF;
    border-radius: 10px;
    z-index: -1;
    overflow-y: scroll;
    padding: 0;
}
#toggle2:checked ~ #expand_about {
    height: 80vh;  /* % of about box */
    width: 60vw;
    padding: 1%

}

/* TOOLTIPS */
div.tooltip {
    /* make tooltip-size depend on content*/
    display: inline-block;
    /* padding: */
    padding: 0.7%;
    /* rounded edges: */
    border-radius: 5%;
    /* background colour: */
    background: #252525;
    /* positioned relative to the nearest positioned ancestor */
    position: absolute;
    /* text characteristics */
    text-align: left;
    font-size: 80%;
    opacity: 0.2;
}

/* INFOBOX */
div.infos {
    position: absolute;
    top: 14%;
    left: 8%;
    right: 1%;
    bottom: 1%;
    overflow-y: scroll;
}
